{% extends 'cms/base.html' %}

{% load staticfiles %}

{% block title %}确认删除锚点{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            确认删除锚点
        </header>
        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}
                <p>确定要删除锚点："{{ anchor.name }}"？</p>
                <input class="btn btn-danger" type="submit" value="确定"/>
            </form>
        </div>
    </section>
{% endblock %}
