{% extends 'cms/base.html' %}

{% load bootstrap3 staticfiles qiniu_tags story_tags %}

{% block title %}新增/编辑锚点{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'cms/css/anchor.css' %}">
{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            新增/编辑锚点 -- 在图片上单击放置锚点
        </header>
        <div class="panel-body">
            <div class="map-image-container">
                <div class="map-image-wrapper">
                    <img src="{{ map.image_key|download_url }}" alt="地图">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                {% include 'cms/form.html' %}
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="保存"/>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        window.g_stories = {{ stories | list_json | safe }};
        window.g_tasks = {{ tasks | list_json | safe }};
    </script>
    <script src="{% static 'cms/js/anchor_form.js' %}"></script>
{% endblock %}
