{% extends 'cms/base.html' %}

{% load bootstrap3 staticfiles %}

{% block title %}新增/编辑锚点{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            新增/编辑锚点
        </header>
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                {% include 'cms/form.html' %}
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="保存"/>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{% endblock %}
