{% extends 'cms/base.html' %}

{% block title %}选择题管理{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading clearfix">
            选择题管理 ({{ object_list.count }}) --- 选择题组名：{{ task.name }}
            <a class="btn btn-sm" href="{% url 'cms-tasks' %}">
                <i class="fa fa-arrow-left"></i>
                返回选择题组列表
            </a>
            <div class="pull-right">
                <a class="btn btn-success btn-sm" href="{% url 'cms-add-choice' task_id=task.id %}">
                    <i class="fa fa-plus-circle"></i>
                    新增选择题
                </a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered vertical-middle">
                <thead>
                <tr>
                    <th>#</th>
                    <th>题号</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for choice in choices %}
                    <tr>
                        <th scope="row">{{ choice.id }}</th>
                        <td>{{ choice.order }}</td>
                        <td>{{ choice.name }}</td>
                        <td>
                            <a href="{% url 'cms-edit-choice' task_id=task.id pk=choice.id %}"
                               class="btn btn-info btn-sm">编辑</a>
                            <a href="{% url 'cms-option-list' task_id=task.id choice_id=choice.id %}"
                               class="btn btn-success btn-sm">管理选项</a>
                            {% if forloop.last %}
                                <a href="{% url 'cms-delete-choice' task_id=task.id pk=choice.id %}"
                                   class="btn btn-danger btn-sm">删除</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
