{% extends 'cms/base.html' %}

{% load staticfiles bootstrap3 %}

{% block title %}新增/编辑优惠券{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            新增/编辑优惠券
        </header>
        {% if coupon %}
            <div class="panel-body">
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </div>
        {% endif %}
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                {% include 'cms/form.html' %}
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="保存"/>
                </div>
            </form>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'cms/js/user_form.js' %}"></script>
{% endblock %}