{% extends 'cms/base.html' %}

{% load staticfiles %}

{% block title %}优惠券{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            优惠券管理
            <div class="pull-right">
                <a href="" class="btn btn-success btn-sm">新增优惠券</a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                </tr>
                </thead>
                <tbody>
                {% for coupon in coupons %}
                    <tr>
                        <th scope="row"></th>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
