{% extends 'cms/base.html' %}

{% load staticfiles coupon_tags %}

{% block title %}优惠券{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading clearfix">
            优惠券管理 ({{ object_list.count }})
            <div class="pull-right">
                <a href="{% url 'cms-add-coupon' %}" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-circle"></i>
                    新增优惠券
                </a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>餐厅名称</th>
                    <th>密码</th>
                    <th>优惠信息</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for coupon in coupons %}
                    <tr>
                        <th scope="row">{{ coupon.id }}</th>
                        <td>{{ coupon.location }}</td>
                        <td>{{ coupon.code }}</td>
                        <td>{{ coupon|coupon_details|safe }}</td>
                        <td>
                            <a href="{% url 'cms-edit-coupon' pk=coupon.id %}" class="btn btn-info btn-sm">详情</a>
                            <a href="{% url 'cms-delete-coupon' pk=coupon.id %}" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                {% include 'cms/pagninator.html' %}
            </div>
        </div>
    </section>
{% endblock %}
