{% extends 'cms/base.html' %}

{% load story_tags %}

{% block title %}关卡管理{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading clearfix">
            关卡管理 ({{ object_list.count }}) --- 故事名：{{ story.name }}
            <a class="btn btn-sm" href="{% url 'cms-stories' %}">
                <i class="fa fa-arrow-left"></i>
                返回故事列表
            </a>
            <div class="pull-right">
                <a class="btn btn-success btn-sm" href="{% url 'cms-add-level' story_id=story.id %}">
                    <i class="fa fa-plus-circle"></i>
                    新增关卡
                </a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered vertical-middle">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for level in levels %}
                    <tr>
                        <th scope="row">{{ level.id }}</th>
                        <td>{{ level.name }}</td>
                        <td>{{ level|level_type }}</td>
                        <td>
                            <a href="{% url 'cms-level-coupons' story_id=story.id level_id=level.id %}"
                               class="btn btn-info btn-sm">管理优惠卷</a>
                            {% if forloop.last %}
                                <a href="{% url 'cms-delete-level' story_id=story.id pk=level.id %}"
                                   class="btn btn-danger btn-sm">删除</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
