{% extends 'cms/base.html' %}

{% load staticfiles map_tags %}

{% block title %}世界管理{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading clearfix">
            世界管理 ({{ object_list.count }})
            <div class="pull-right">
                <a class="btn btn-success btn-sm" href="{% url 'cms-add-map' %}">
                    <i class="fa fa-plus-circle"></i>
                    新增地图
                </a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered vertical-middle">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>城市</th>
                    <th>获得人数</th>
                    <th>通关人数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for map in maps %}
                    <tr>
                        <th scope="row">
                            <a href="{% url 'cms-map-detail' pk=map.id %}">{{ map.id }}</a>
                        </th>
                        <td>{{ map.name }}</td>
                        <td>{{ map.city.nl_name_2 }}</td>
                        <td>{{ map|map_user_count }}</td>
                        <td>{{ map|map_complete_count }}</td>
                        <td>
                            <a href="{% url 'cms-edit-map' pk=map.id %}" class="btn btn-info btn-sm">基本信息</a>
                            <a href="{% url 'cms-map-detail' pk=map.id %}" class="btn btn-success btn-sm">详细信息</a>
                            <a href="{% url 'cms-delete-map' pk=map.id %}" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                {% include 'cms/pagninator.html' %}
            </div>
        </div>
    </section>
{% endblock %}
