{% extends 'cms/base.html' %}

{% block title %}徽章{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading clearfix">
            徽章管理 ({{ object_list.count }})
            <div class="pull-right">
                <a href="{% url 'cms-add-medal' %}" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-circle"></i>
                    新增徽章
                </a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>徽章名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for medal in medals %}
                    <tr>
                        <th scope="row">{{ medal.id }}</th>
                        <td>{{ medal.name }}</td>
                        <td>
                            <a href="{% url 'cms-edit-medal' pk=medal.id %}" class="btn btn-info btn-sm">详情</a>
                            <a href="{% url 'cms-delete-medal' pk=medal.id %}" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                {% include 'cms/pagninator.html' %}
            </div>
        </div>
    </section>
{% endblock %}
