{% extends 'cms/base.html' %}

{% load staticfiles %}

{% block title %}故事管理{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            故事管理
            <div class="pull-right">
                <a class="btn btn-success btn-sm" href="">新增故事</a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                </tr>
                </thead>
                <tbody>
                {% for story in stories %}
                    <tr>
                        <th scope="row"><a href="{% url 'cms-story-detail' pk=story.id %}">详情</a></th>
                        <td>{{ story.name }}</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
