{% extends 'cms/base.html' %}

{% load staticfiles l10n %}

{% block title %}用户管理{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading clearfix">
            用户管理
            <div class="pull-right">
                <a href="{% url 'cms-add-user' %}" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-circle"></i>
                    新增用户
                </a>
            </div>
        </header>
        <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
            <table class="table table-bordered vertical-middle">
                <thead>
                <tr>
                    <th>#</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>手机号</th>
                    <th>金币</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row"><a href="{% url 'cms-user-detail' pk=user.id %}">{{ user.id }}</a></th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.userprofile.nickname }}</td>
                        <td>{{ user.userprofile.mobile }}</td>
                        <td>{{ user.coin.amount }}</td>
                        <td>{{ user.date_joined|localize }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'cms-user-detail' pk=user.id %}">详情</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'cms-delete-user' pk=user.id %}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                {% include 'cms/pagninator.html' %}
            </div>
        </div>
    </section>
{% endblock %}
