{% extends 'cms/base.html' %}

{% load staticfiles %}

{% block title %}用户管理{% endblock %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            用户管理
        </header>
        <div class="panel-body">
            <div class="table-responsive" style="overflow: hidden; outline: none; cursor: -webkit-grab;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>用户名</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                        <th>Table heading</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="row"><a href="{% url 'cms-user-detail' pk=user.id %}">详情</a></th>
                            <td>{{ user.username }}</td>
                            <td>Table cell</td>
                            <td>Table cell</td>
                            <td>Table cell</td>
                            <td>Table cell</td>
                            <td>Table cell</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
